.cart {
  .cart-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 20px;
  }
  .cart-inner {
    background: rgba(245, 242, 234, 0.5);
    width: calc(100% - 40px);
    height: calc(100vh - 120px);
    margin: 20px;
    overflow: auto;
    padding: 30px 10px;
  }
}
